<header>
    <img id="logo_Poke" src="/img/logo_Poke.png" alt="Logo Pokemon">
    <nav>
        <ul>
            <a href="/" target="_blank"><strong> <li>Home</li></strong>
               </a>
            <a href ="/cadastro.ejs" ><strong><li>Cadastro</li></strong>
                </a> 
        </ul>
    </nav>
</header>